@page "/admin-page"
@using backend.Entities
@using Blazored.LocalStorage
@using ConfigurationTool.Utils
@using System.ComponentModel.DataAnnotations
@using Blazored.LocalStorage
@using ConfigurationTool.Model
@using ConfigurationTool.Utils
@inject IStringLocalizer<ApplicationResource> _localizer
@inject ILocalStorageService Localstorage;
@inject NavigationManager NavigationManager;

<PageTitle>Admin Page</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">@_localizer["AdminPage"]</MudText>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudAlert Severity="Severity.Info">@_localizer["AddNewMembers"]</MudAlert>
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success">
                <h2>Invite new user</h2>
                <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!"
                              Validation="@(new EmailAddressAttribute() { ErrorMessage = "The email address is invalid" })" @ref="email"/>
                <MudSelect T="string" Label="Role" AnchorOrigin="Origin.BottomCenter" Required="true" @ref="role">
                    @if (roles.Count == 0)
                    {
                        <MudSelectItem Value="@("No roles available")"/>
                    }
                    else
                    {
                        foreach (var r in roles)
                        {
                            <MudSelectItem Value="@(r.Name)"/>
                        }
                    }
                </MudSelect>
                <div class="d-flex align-center justify-space-between" style="margin-top: 2em;">
                    <MudButton OnClick="@RegisterUser" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">@_localizer["RegisterUser"]</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="7">
        <MudAlert Severity="Severity.Info">Here you can manage current invitations.</MudAlert>
        <MudPaper Class="pa-4">
            <h2 style="margin-bottom: 1em;">Manage current invitations</h2>
            <MudTable Items="invitations" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh><b>@_localizer["Email"]</b></MudTh>
                    <MudTh><b>@_localizer["Role"]</b></MudTh>
                    <MudTh><b>@_localizer["CreatedAt"]</b></MudTh>
                    <MudTh><b>@_localizer["Actions"]</b></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Email</MudTd>
                    <MudTd>@roles.Find(r => r.Id == context.RoleId)?.Name</MudTd>
                    <MudTd>@context.CreatedAt.ToShortDateString()</MudTd>
                    <MudTd>
                        <div class="d-flex pa-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-2" OnClick="() => ResendInvitation(context.Id)">
                                @_localizer["Resend"]
                            </MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="() => DeleteInvitation(context.Id)">
                                @_localizer["Delete"]
                            </MudButton>
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="7">
        <MudAlert Severity="Severity.Info">Here you can manage current users.</MudAlert>
        <MudPaper Class="pa-4">
            <h2 style="margin-bottom: 1em;">Manage current users</h2>
            <MudTable Items="@users" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh><b>@_localizer["Email"]</b></MudTh>
                    <MudTh><b>@_localizer["Role"]</b></MudTh>
                    <MudTh><b>@_localizer["FirstName"]</b></MudTh>
                    <MudTh><b>@_localizer["LastName"]</b></MudTh>
                    <MudTh><b>@_localizer["Actions"]</b></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Email</MudTd>
                    <MudTd>@roles.Find(r => r.Id == context.RoleId)?.Name</MudTd>
                    <MudTd>@context.FirstName</MudTd>
                    <MudTd>@context.LastName</MudTd>
                    <MudTd>
                        <div class="d-flex pa-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-2" OnClick="() => OpenEditUser(context.Id)">
                                @_localizer["ChangeRole"]
                            </MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="() => DeleteUser(context.Id, context.Email)">
                                @_localizer["Delete"]
                            </MudButton>
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudPaper>
    </MudItem>
</MudGrid>

<!--TODO: Add list of users -->

@code {
    bool success;
    MudForm form;
    List<Role> roles = new List<Role>();
    List<User> users = new List<User>();
    List<Invitation> invitations = new List<Invitation>();
    MudTextField<string> email;
    MudSelect<string> role;

    protected override async Task OnInitializedAsync()
    {
        var jwt = await CheckJwt();
        var roleRes = await HttpUtils.Get<List<Role>>("role", jwt);
        var invitationRes = await GetInvitations(jwt);
        var userRes = await HttpUtils.Get<List<User>>("configuser", jwt);

        if (userRes == null || invitationRes == null || roleRes == null)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        roles = roleRes;
        users = userRes;
        invitations = invitationRes;

        await base.OnInitializedAsync();
    }

    async Task<string> CheckJwt()
    {
        var token = await Localstorage.GetItemAsync<string>("token");
        if (token != null) return token;
        NavigationManager.NavigateTo("/login");
        return "";
    }

    private async Task RegisterUser()
    {
        var user = new CreateUser()
        {
            Email = email.Value,
            RoleId = roles.FirstOrDefault(r => r.Name == role.Value)!.Id
        };
        var res = await HttpUtils.Post<object>("configuser", user, await CheckJwt());
        Console.WriteLine(res);
        if (res is string s && s.Contains("Unauthorized"))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        form.Reset();
        await UpdateInvitations();
    }

    private async Task OpenEditUser(int id)
    {
        // TODO
    }

    private async Task ChangeRole(int id)
    {
        // TODO
    }

    private async Task DeleteUser(int id, string email)
    {
        if(email == await Localstorage.GetItemAsync<string>("email"))
        {
            // TODO: info
            return;
        }

        var res = await HttpUtils.Delete<object>($"configuser/{id}", await CheckJwt());

        if (res is string s && s.Contains("Unauthorized"))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        users.RemoveAll(u => u.Id == id);

        // TODO: animation?
    }

    private async Task ResendInvitation(int id)
    {
        var res = await HttpUtils.Post<object>($"configuser/invitation/{id}/resend", null, await CheckJwt());
        if (res is string s && s.Contains("Unauthorized"))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        await UpdateInvitations();
        // TODO: animation
    }

    private async Task DeleteInvitation(int id)
    {

        var res = await HttpUtils.Delete<object>($"configuser/invitation/{id}", await CheckJwt());
        if (res is string s && s.Contains("Unauthorized"))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        await UpdateInvitations();
    }

    private async Task<List<Invitation>?> GetInvitations(string jwt)
    {
        return await HttpUtils.Get<List<Invitation>>("configuser/invitation", jwt);
    }

    private async Task UpdateInvitations()
    {
        var invitationRes = await GetInvitations(await CheckJwt());
        if (invitationRes == null) return;
        invitations = invitationRes;
    }
}