@page "/register/{Token:guid}"
@using System.Text.RegularExpressions
@using ConfigurationTool.Model
@using ConfigurationTool.Utils
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">Register</MudText>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success">
                <MudTextField T="string" Label="First name" Required="true" RequiredError="Your first name is required!" @bind-Value="firstName" />
                <MudTextField T="string" Label="Last name" Required="true" RequiredError="Your last name is required!" @bind-Value="lastName" />
                <MudTextField @bind-Value="password" Label="Password" HelperText="Choose a strong password"
                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))"
                              RequiredError="Password is required!" Required="true"
                              Variant="Variant.Text" InputType="@PasswordInput"
                              Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="EyeBtnClick"
                              AdornmentAriaLabel="Show Password" />
                <MudTextField T="string"
                              Label="Password" HelperText="Repeat the password" Required="true" InputType="InputType.Password"
                              Validation="@(new Func<string, string>(PasswordMatch))"/>
                <div class="d-flex align-center justify-space-between">
                    <MudCheckBox T="bool" Required="true" RequiredError="You must agree to your TOS!" Label="I agree to the TOS!"/>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@CreateUser">Register</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public Guid Token { get; set; }

    bool success;
    string password;
    string firstName;
    string lastName;
    MudForm form;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void EyeBtnClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string? PasswordMatch(string arg)
    {
        return password != arg ? "Passwords don't match" : null;
    }

    private async Task CreateUser()
    {
        var user = new NewUser()
        {
            FirstName = firstName,
            LastName = lastName,
            Password = password,
            Token = Token.ToString()
        };

        var res = await HttpUtils.Post<string>("authentication/applytoken", user);
        if (res != null)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }
        form.Reset();
    }
}